/* Custom font size utilities */
.font-xs {
  font-size: 11.5px;
  line-height: 21px;
}
.font-sm {
  font-size: 12px;
  line-height: 21px;
}
.font-md {
  font-size: 12.5px;
  line-height: 21px;
}
.font-lg {
  font-size: 13px;
  line-height: 22px;
}
.font-xl {
  font-size: 13.5px;
  line-height: 22px;
}
.font-2xl {
  font-size: 14px;
  line-height: 22px;
}
.font-3xl {
  font-size: 14.5px;
  line-height: 22px;
}

/* Custom widget size utilities */
.widget-size-xs {
  height: 40px;
  width: 40px;
}

.widget-size-sm {
  height: 50px;
  width: 50px;
}

.widget-size-md {
  height: 60px;
  width: 60px;
}

.widget-size-lg {
  height: 70px;
  width: 70px;
}

.widget-size-xl {
  height: 80px;
  width: 80px;
}

.widget-size-2xl {
  height: 90px;
  width: 90px;
}

.widget-size-3xl {
  height: 100px;
  width: 100px;
}
